---
import Intro from "../../components/Intro.astro";
import Layout from "../../layouts/Layout.astro";
import styles from "../../styles/pages/About.module.scss";
---

<Layout title="About">
    <main>
        <Intro />
        <section class={styles.selfIntro}>
            <h2><span>About</span> Me</h2>
            <div class={styles.columns}>
                <div class={styles.col1}>
                    <img src="/images/Ryan.jpg" alt="Image of Ryan"/>
                </div>
                <div class={styles.col2}>
                    <p>
                        Hi! I am a final year student studying at the Hong Kong
                        University of Science and Technology, majoring in
                        Information Systems in the School of Business and Management.
                    </p>
                    <br />
                    <p>
                        I have been developing websites for 3 years now, and I
                        make simple and clean looking websites like this one. So
                        if you ever need a website, maybe I could help you out
                        :D
                    </p>
                </div>
            </div>
            <div class={styles.frameworks}>
                <h3>Some <span>technologies</span> that I use</h3>
                <div class={styles.logos}>
                    <img src="/svg/next-js.svg" alt="next js logo" class={styles.next}/>
                    <img src="/svg/react-2.svg" alt="react logo" />
                    <img src="/svg/astro.svg" alt="astro logo" />
                    <img src="/svg/sass.svg" alt="sass logo" />
                    <img src="/svg/wordpress.svg" alt="wordpress logo" />
                    <img src="/svg/mongodb.svg" alt="mongodb logo" class={styles.mongodb}/>
                    <img src="/svg/mysql.svg" alt="mysql logo" class={styles.mysql} />
                </div>
            </div>
        </section>
    </main>
</Layout>
